<% layout ('boilerplate') -%>


<h1> Buy here for big save </h1>

<p> hooopppppppa </p>


<p> singup to start Buying</p>
<h3>Start your search here</h3>

s
<p>our prices will kill all your money ;=()</p>


<h3>looking for free item ? </h3>
<p> try to find them </p>




<h3>Bulid a smart cart </h3>
