<% layout('layout') -%>


 <div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Shop Here For Big Save !</h1>
    <p>We will take all your money and sell you shit that will breaks down  after 4 days
<i class="fa fa-smile-o fa-2x" aria-hidden="true"></i> </p>
<br>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign-up <i class="fa fa-sign-in" aria-hidden="true"></i> </a></p>
    <p><a class="btn btn-primary btn-lg" href="/login" role="button">  Log-in <i class="fa fa-sign-in" aria-hidden="true"></i> </a></p>
  </div>




</div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Start your search here</h3>
      <p>Signup to start Buying</p>
    </div>
    <div class="col-md-4">
      <h3>Look for Smart items?</h3>
      <p>These will appear across the site as you add to your cart</p>

   </div>
    <div class="col-md-4">
      <h3>Build a smart cart</h3>
      <p>The more smart items you buy together, the more you save :)</p>
    </div>
  </div>
</div>
